<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <!-- $event -->
    <!-- 修饰符 键盘 鼠标等可去官网看 -->
    <!-- 键盘修饰符 事件后面加keyCode名或值 用于监听键盘事件 -->
    <!-- v-model修饰符 .lazy操作完了触发 .number只显示数字 .trim 去前后空格  -->
    <div id="app">
        <!-- <input type="text" v-model="task" @keyup="addTask($event,'up')" /> -->
        <input type="text" v-model.lazy="task" @keyup.enter="addTask" />
        <!-- 自定义修饰符键盘别名 -->
        <!-- <input type="text" v-model="task" @keyup.f1-key ="addTask" /> -->
        <!-- enter || 13 都可以 -->
        <!-- <button @click="addTask($event,'click')">提交</button> -->
        <button @click="addTask">提交</button>
        <p>正在添加的任务: {{ task }}</p>
        <h4>所有任务:</h4>
        <ul>
            <li v-for="(task, index) in taskList" :key="index">
                {{ task }}
                <button @click="deleteList(index)">删除</button>
            </li>
        </ul>
    </div>

    <script>
        // 给键盘起别名 e.keyCode enter键盘改名
        Vue.config.keyCodes = {
            'f1-key': 13
        }
        const vm = new Vue({
            el: "#app",
            data: {
                task: '',
                taskList: []
            },
            methods: {
                addTask(e, type) {
                    // console.log(e)
                    if(type === 'up' && e.keyCode !== 13 ){
                        return;
                    }
                    this.taskList.push(this.task);
                    this.task = ''
                },
                deleteList(index) {
                    this.taskList.splice(index, 1);
                }
            }
        })
    </script>

</body>

</html>