*{
    margin: 0;
    padding: 0;
}
html,body{
    width: 100%;
    height: 100%;
    color: #3c3c3c;
    background-color: #f4f4f4;
    overflow-x: hidden;
}
ol,ul,li{
    list-style: none;
}
a{
    text-decoration: none;
}
em{
    font-style: normal;
}
/*  导航条+ad  */
.top-nav-wrap{
    width: 100%;
    height: 36px;
    /* border-top: 1px solid red; */
}
.top-nav-wrap .top-nav-content{
    width: 1190px;
    height: 35px;
    margin: 0 auto;
    /* border: 1px solid black; */
}
.top-nav-wrap .top-nav-content ul li{
    float: left;
}
.top-nav-wrap .top-nav-content .nav-r{
    float: left;
}
.top-nav-wrap .top-nav-content .nav-r{
    float: right;
}
.top-nav-wrap .top-nav-content .site-nav-menu{
    text-align: center;
    padding: 0 6px; 
}
.top-nav-wrap .top-nav-content .site-nav-menu a{
    display: inline-block;
    height: 100%;
    margin-right: 7px;
    line-height: 35px;
    font-size: 12px;
    color: #3c3c3c;
}
.top-nav-wrap .top-nav-content .site-nav-menu a:hover{
    color: #f22e00;
}
.top-nav-wrap .top-nav-content .site-nav-menu span{
    display: inline-block;
    height: 100%;
}
.top-nav-wrap .top-nav-content .site-nav-menu .pic{
    width: 6px;
    height: 6px;
    /* border:1px solid #3c3c3c; */
    background:url(../img/xsj.png) no-repeat;
}
.top-nav-wrap .top-nav-content .site-nav-menu .china{
    font-size: 12px;
    height: 100%;
    line-height: 35px;
    color: #3c3c3c;
}
.top-nav-wrap .top-nav-content .site-nav-menu .login{
    color: #f22e00;
}
.top-nav-wrap .top-nav-content .site-nav-menu .r-shopping{
    width: 10px;
    height: 12px;
    margin-right: 5px;
    /* border:1px solid #3c3c3c; */
    background:url(../img/gwc.png) no-repeat;
}
.top-nav-wrap .top-nav-content .site-nav-menu .web-nav{
    width: 6px;
    height: 10px;
    margin-right: 5px;
    /* border:1px solid #3c3c3c; */
    background:url(../img/dh.png) no-repeat;
}
.top-nav-wrap .top-nav-content .nav-r .r-sign{
    display: inline-block;
    width: 1px;
    height: 100%;
    line-height: 35px;
    font-size: 12px;
    text-align: center;
    padding: 0 5px;
    color: #ddd;
}
/* 搜索区域 */
.search-wrap{
    width: 100%;
    height: 97px;
    padding-top:24px; 
    /* border: 1px solid red; */
    background-color: #fff;
}
.search-wrap .top-wrap{
    margin: 0 auto;
    width: 1190px;
    height: 100%;
    /* border: 1px solid black; */
    position: relative;
}
/*logo左部分*/
.search-wrap .top-wrap .top-wrap-logo{
    position: relative;
    float: left;
    width: 190px;
    height: 88px;
    background: url(../img/logo.png) no-repeat;
    /* border: 1px solid red; */
    overflow: hidden;
    cursor: pointer;
}
.search-wrap .top-wrap .top-wrap-logo a{
    position: absolute;
    left: 200px;
    width: 190px;
    height: 58px;
} 
/*搜索中*/
.search-wrap .top-wrap .center-wrap{
    width: 630px;
    height: 87px;
    margin: 0 auto;
    /* border: 1px solid red; */
}
.search-wrap .top-wrap .center-wrap .center-top{
    width: 100%;
    height: 62px;
    /* border: 1px solid black; */
}
.search-wrap .top-wrap .center-wrap .center-top .top-list{
    width: 100%;
    height: 22px;
    /* border: 1px solid black; */
}
.search-wrap .top-wrap .center-wrap .center-top .top-list ul{
    margin-left: 16px; 
}
.search-wrap .top-wrap .center-wrap .center-top .top-list ul li{
    float: left;
    margin-right:4px;
    width: 36px;
    height: 22px;
    line-height: 22px;
    color: #ff4400;
    font-size: 12px;
    text-align: center;
    border-radius: 4px 4px 0 0;
    cursor: pointer;
}
.search-wrap .top-wrap .center-wrap .center-top .top-list ul li:hover{
    background-color:#ffeee5; 
}
.search-wrap .top-wrap .center-wrap .center-top .top-list ul .active{
    width: 36px;
    height: 22px;
    font-weight: bold;
    color: #fff;
    background:linear-gradient(to right,#ff9000 0, #ff5000 100%);
}

.search-wrap .top-wrap .center-wrap .center-top .top-search{
    position: relative;
    width: 630px;
    height: 36px;
    /* border: 1px solid red; */
}
/* .search-wrap .top-wrap .center-wrap .center-top .top-search .top-search-l{
    float: left;
    width: 552px;
    height: 100%;
    border: 2px solid #ff5000;
    border-radius: 20px 0 0 20px;
    overflow: hidden;     
}
.search-wrap .top-wrap .center-wrap .center-top .top-search .top-search-r{
    float: right;
    width: 74px;
    height: 100%;
} */
/*   用两栏布局       */
.search-wrap .top-wrap .center-wrap .center-top .top-search .top-search-l{
    position: relative;
    width: 554px;
    height: 100%;
    border: 2px solid #ff5000;
    border-radius: 20px 0 0 20px;
    border-right: none;
    overflow: hidden;     /* 把input多出来的隐藏*/
}
.search-wrap .top-wrap .center-wrap .center-top .top-search .top-search-r{
    position: absolute;
    right: 0;
    width: 74px;
    height: 100%;
}
.search-wrap .top-wrap .center-wrap .center-top .top-search .top-search-r button{
    width: 74px;
    height: 40px;
    border: none;    /* 去除button默认边框*/
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    background:linear-gradient(to right,#ff9000 0, #ff5000 100%);
    border-radius:0 20px 20px 0;
    cursor: pointer;
}
.search-wrap .top-wrap .center-wrap .center-top .top-search .top-search-l span{
    position: absolute;
    top: 10px;
    left: 9px;
    width: 15px;
    height: 15px;
    line-height: 24px;
    background: url(../img/fdj.png) no-repeat;
    background-size: 100% 100%;
}
.search-wrap .top-wrap .center-wrap .center-top .top-search .top-search-l input{
    display: inline-block;
    width: 472px;
    height: 24px;
    margin-left: 8px; 
    padding: 6px 0;
    border: none;
    line-height: 24px;
    text-indent: 20px; /*字符缩进*/
    font-size: 12px;
    outline: 0; /*去除点击input时出现的蓝色边框*/
}
.search-wrap .top-wrap .center-wrap .center-top .top-search .top-search-l a{
    position: absolute;
    top: 6px;
    right: 24px;
    width: 24px;
    height: 24px;
    background: url(../img/camera.png) no-repeat;
    background-size: 100% 100%;
}
.search-wrap .top-wrap .center-wrap .bottom-list-wrap{
    width: 100%;
    height: 25px;
    margin-top: 2px;
    /* border: 1px solid black; */
}
.search-wrap .top-wrap .center-wrap .bottom-list-wrap ul li{
    float: left;
    margin-right: 4px;
}
.search-wrap .top-wrap .center-wrap .bottom-list-wrap ul li a{
    font-size: 12px;
    color: #3c3c3c;
    
}
.search-wrap .top-wrap .center-wrap .bottom-list-wrap ul li a:hover{
    color: #ff5000;
}
.search-wrap .top-wrap .center-wrap .bottom-list-wrap ul .bottom-list-c a{
    color: #ff5000;
}
/*二维码右*/
.search-wrap .top-wrap .right-qr-wrap{
    float: right;
    position: absolute;
    top: 0px;
    right: 110px;
    width: 76px;
    height: 90px;
}
.search-wrap .top-wrap .right-qr-wrap .right-qr{
    right: 100%;
    height: 100%;
    border: 1px solid #ddd;
}
.search-wrap .top-wrap .right-qr-wrap .right-qr a{
    font-size: 14px;
    color: #ff5000;
}
.search-wrap .top-wrap .right-qr-wrap .right-qr a span{
    padding: 0 6px;
}
.search-wrap .top-wrap .right-qr-wrap .right-qr .qr-del{
    position:absolute;
    top: -1px;
    left: -17px;
    width: 16px;
    height: 16px;
    line-height: 16px;
    text-align: center;
    font-size: 12px;
    color: #ddd;
    border: 1px solid #ddd;
    cursor: pointer;
}
.search-wrap .top-wrap .right-qr-wrap .right-qr img{
    padding: 0 6px;
    width: 62px;
    height: 62px;
}
/* 导航条 */
.screen-nav{
    width: 100%;
    height: 30px;
    /* border: 1px solid red; */
}
.screen-nav .nav{
    width: 1190px;
    height: 100%;
    margin: 0 auto;
    background:linear-gradient(to right,#ff9000 0, #ff5000 100%);
}
.screen-nav .nav h2{
    float: left;
    width: 190px;
    height: 100%;
    line-height: 30px;
    font-size: 16px;
    text-align: center;
    color: #fff;
    background-color: #ff5000;
}
.screen-nav .nav ul li{
    float: left;
    margin: 0 3px;
    padding: 0 4px;
    position: relative;
}
.screen-nav .nav ul li:hover::before{ /* 伪元素加鼠标移动到li出现图片 */
    content: "";
    position: absolute;
    top: -11px;
    left: 50%;
    margin-left: -15px;
    width: 30px;    
    height: 30px;
    background: url(../img/up.png) no-repeat;

}
.screen-nav .nav .nav-l a{
    font-size: 16px;
}
.screen-nav .nav ul li a{
    display: inline-block; 
    padding: 0 5px;
    font-size: 14px;
    line-height: 30px;
    text-align: center;
    font-weight: bold;
    color: #fff;
}
.screen-nav .nav ul .nav-sign{
    margin-left: 7px;
    font-size: 14px;
    line-height: 30px;
    text-align: center;
    color: #fff;
}
/* 主体内容展示部分 */
.screen-content-wrap{
    width: 1190px;
    height: 632px;
    margin: 0 auto;
    /* border: 1px solid red; */
}
.screen-content-wrap .main-inner{
    float: left;
    width: 900px;
    height: 100%;
    /* border: 1px solid red; */
}
.screen-content-wrap .main-inner .main-top{
    width: 100%;
    height: 520px;
    overflow: hidden;
    /* border: 1px solid black; */
}
.screen-content-wrap .main-inner .tbh-service{
    float: left;
    width: 188px;
    height: 520px;
    /* border: 1px solid red; */
    border-top: none;
}
.screen-content-wrap .main-inner .tbh-service ul{
    background-color: #fff; 
    padding: 5px 0 3px;
}
.screen-content-wrap .main-inner .tbh-service ul li{
    padding: 0 19px 0 25px;
    line-height: 32px;
    font-size: 14px;
    position: relative;
}
.screen-content-wrap .main-inner .tbh-service ul li:hover,
.screen-content-wrap .main-inner .tbh-service ul li:hover a{
    color: #ff5000;
    background-color: #ffe4dc;
}
.screen-content-wrap .main-inner .tbh-service ul li a{
    line-height: 32px;
    color: #666;
}
.screen-content-wrap .main-inner .tbh-service ul li a:hover{
    color:#ff5000;
    text-decoration: underline;/*加下划线*/
}
.screen-content-wrap .main-inner .tbh-service ul li .pic{
    position: absolute;
    top: 50%;
    right: 10px;
    margin-top: -3.5px;
    width: 5px;
    height: 7px;
    /* border: 1px solid black; */
    background: url(../img/yjt.png) no-repeat;
}
/*中部图片*/
.screen-content-wrap .main-inner .core{
    float: left;
}
.screen-content-wrap .main-inner .core .mod{
    margin: 10px 10px 0 10px;
}
.screen-content-wrap .main-inner .core .tmall-hd{
    padding-top: 11px;
    margin-left: 10px;
    width: 520px;
    height: 20px;
    /* border: 1px solid red; */
}
.screen-content-wrap .main-inner .core .tmall-hd .inner{
    width: 100%;
    height: 18px;
    /* border: 1px solid red; */
    position: relative;
}
.screen-content-wrap .main-inner .core .tmall-hd .inner .center-bg{
    position: absolute;
    top: -1px;
    width: 136px;
    height: 18px;
    background: url(../img/tm.png) no-repeat;
    background-size: 100% 100%;
}
.screen-content-wrap .main-inner .core .tmall-hd .inner em{
    position: relative;
    top: -2px;
    margin-left: 136px;
    font-size: 12px;
    color: #666;
}
.screen-content-wrap .main-inner .core .tmall-hd .inner strong{
    position: absolute;
    right: 1px;
    height: 18px;
    line-height: 18px;
    font-size: 12px;
    color: #3c3c3c;
}
.screen-content-wrap .main-inner .core .tmall-hd .inner strong i{
    font-size: 12px;
    color: #ff1648;
}
.screen-content-wrap .main-inner .tmall-bd{
    margin-left: 10px;
}
.screen-content-wrap .main-inner .tmall-bd img{
    width: 520px;
    height: 190px;
    padding-top: 6px;
}
.screen-content-wrap .main-inner .sub-column{
    float: right;
    width: 170px;
    height: 512px;
}
.screen-content-wrap .main-inner .sub-column .sub-column-bg1 img{
    margin: 10px 10px 0 0;
}
.screen-content-wrap .main-inner .sub-column .today{
    width: 160px;
    height: 30px;
    /* background-color: red; */
}
.screen-content-wrap .main-inner .sub-column .today h5{
    width: 100%;
    height: 18px;
    padding-top:9px; 
    font-size: 12px;
    color: #a1a1a1;
}
.screen-content-wrap .main-inner .sub-column .sub-column-bg2 img{
    width: 160px;
    height: 200px;
    padding-right: 10px;
}
.screen-content-wrap .main-inner .tbh-headline{
    width: 890px;
    height: 100px;
    margin-top: 10px;
    padding: 14px 14px 12px 20px;
    background-color: #fff;
    box-sizing: border-box;
    /* border: 1px solid black; */
}
.screen-content-wrap .main-inner .tbh-headline .headline{
    width: 100%;
    height: 73px;
    /* border: 1px solid red; */
    position: relative;
}
.screen-content-wrap .main-inner .tbh-headline .headline h3{
    float: left;
    width: 180px;
    height: 73px;
    background: url(../img/tbtt.png) no-repeat;
    background-size: 100% 100%;
    /* border: 1px solid red; */
}
.screen-content-wrap .main-inner .tbh-headline .headline h3 em{
    display: inline-block;
    width: 100%;
    height: 50px;
    font-size: 25px;
    line-height: 50px;
    text-align: center;
    display: none;
}
.screen-content-wrap .main-inner .tbh-headline .headline h3 p{
    height: 24px;
    line-height: 24px;
    font-size: 12px;
    margin-left: 16px;
    color: #a1a1a1;
    display: none;
}
.screen-content-wrap .main-inner .tbh-headline .headline .more{
    position: absolute;
    right: 0px;
    top: 2px;
    font-size: 12px;
    font-weight: 400px; 
    color: #999999;
    z-index: 10;
}
.screen-content-wrap .main-inner .tbh-headline .headline a.more:hover{
    color: #ff5000;
}
.screen-content-wrap .main-inner .tbh-headline .headline .more span{
    display: inline-block;
    width: 12px;
    height: 10px;
    margin-left: 2px;
    background: url(../img/yjt.png) no-repeat;
    background-position:center; 
}
.screen-content-wrap .main-inner .tbh-headline .headline .headline-r{
    position: absolute;
    left: 180px;
    width: 684px;
    height: 100%;
    /* border:1px solid #3c3c3c; */
}
.screen-content-wrap .main-inner .tbh-headline .headline .headline-r img{
    float: left;
    width: 130px;
    height: 73px;
}
.screen-content-wrap .main-inner .tbh-headline .headline .headline-r h4{
    height: 28px;
    margin-left: 144px;
    margin-top: 2px;
    font-weight: 500px;
    line-height: 28px;
    color: #999;
    z-index: 1;
}
.screen-content-wrap .main-inner .tbh-headline .headline .headline-r a h4:hover{
    color: #ff5000;
}
.screen-content-wrap .main-inner .tbh-headline .headline .headline-r p{
    margin-left: 144px;
    font-size: 12px;
    line-height: 18px;
    color: #999;
}
/*主体内容右侧*/
.screen-content-wrap .screen-content-r{
    float: right;
    width: 290px;
    height: 100%;
    /* background: yellowgreen; */
}
.screen-content-wrap .screen-content-r .member{
    margin-top: 10px;
    padding: 3px 0 10px 0;
    width: 290px;
    background: url(../img/bg.png) no-repeat;
    background-size: 100% 100%;
}
.screen-content-wrap .screen-content-r .member .avatar-wrapper{
    text-align: center;
    width: 290px;
    height: 90px;
}
.screen-content-wrap .screen-content-r .member .avatar-wrapper .avatar-wrapper-hd{
    width: 74px;
    height: 56px;
    margin: 0 auto;
}
.screen-content-wrap .screen-content-r .member .avatar-wrapper .avatar-wrapper-hd a{
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 3px solid #fff;
    border-radius: 50%;
    background-clip: padding-box;
    /* border: 1px solid black; */
    overflow: hidden;
}
.screen-content-wrap .screen-content-r .member .avatar-wrapper .avatar-wrapper-hd img{
    width: 50px;
    height: 50px;
}
.screen-content-wrap .screen-content-r .member .avatar-wrapper p.Hi{
    font-size: 12px;
    font-size: 12px;
    height: 17px;
    line-height: 17px;
}
.screen-content-wrap .screen-content-r .member .avatar-wrapper .Hi strong{
    font-size: 12px;
    font-weight: 400;
}
.screen-content-wrap .screen-content-r .member .avatar-wrapper .nick p{
    width: 290px;
    height: 17px;
    line-height: 17px;
}
.screen-content-wrap .screen-content-r .member .avatar-wrapper .nick p a{
    display: inline-block;
    height: 100%;
    text-align: center;
    line-height: 17px;
    padding: 0 10px 0 20px;
    font-size: 12px;
    color: #ff5000;
    background-color: #ffd4d8;
    border-radius: 9px;
    position: relative;
}
.screen-content-wrap .screen-content-r .member .avatar-wrapper .nick p a span{
    position: absolute;
    top: 0;
    left: 0;
    width: 16px;
    height: 16px;
    /* border: 1px solid red; */
    background-image: url(../img/pics.png);/* 先全给上图片 然后定位想要的图片 */
}
.screen-content-wrap .screen-content-r .member .avatar-wrapper .nick p a.icom span{
    background-position: 0 -572px;
}
.screen-content-wrap .screen-content-r .member .avatar-wrapper .nick p a.club span{
    background-position: 0 -528px;
}
.screen-content-wrap .screen-content-r .member .member-usemame{
    height: 40px;
    margin-top: 2px;
    padding-left: 15px;
    line-height: 40px;
    /* border: 1px solid red; */
}
.screen-content-wrap .screen-content-r .member .member-usemame a{
    display: inline-block;
    margin-right: 4px;
    width: 75px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    background-color: #f22e00;
    border-radius: 4px;
    background: linear-gradient(to right,#ff5000 0,#ff6f06 100%);
    /* background-repeat: repeat-x; */
    /* background-clip: padding-box; */
}
.screen-content-wrap .screen-content-r .member .member-usemame a.login{
    width: 92px;
}
.screen-content-wrap .screen-content-r .content-tipoff a{
    display: inline-block;
    padding-left: 82px; 
    width: 290px;
    height: 26px;
    line-height: 26px;
    font-size: 12px;
    color: #ff4400;
    background-color:#ffe4dd;
    box-sizing:border-box;
    position: relative;
}
.screen-content-wrap .screen-content-r .content-tipoff span{
    position: absolute;
    top: 8px;
    margin-left: 32px;
    width: 10px;
    height: 10px;
    background: url(../img/ysj.png) no-repeat;
}
.screen-content-wrap .screen-content-r .content-notice{
    width: 100%;
    height: 98px;
    padding-top: 10px;
    background-color: #fff;
}
.screen-content-wrap .screen-content-r .content-notice ul li{
    float: left;
}
.screen-content-wrap .screen-content-r .content-notice .notice-hd{
    height: 24px;
    padding-left: 8px;
    margin-top: 4px;
    height: 25px;
    line-height: 25px;
    /* border: 1px solid black; */
}
.screen-content-wrap .screen-content-r .content-notice .notice-hd ul li{
    margin:0 11px;
    width: 32px;
    height: 22px;
    line-height: 22px;
    text-align: center;
}
.screen-content-wrap .screen-content-r .content-notice .notice-hd ul li a{
    font-size: 12px;
    color: #3c3c3c;
}
.screen-content-wrap .screen-content-r .content-notice .notice-hd ul li a:hover{
    color: #ff5000;
}
.screen-content-wrap .screen-content-r .content-notice .notice-hd ul li.list a:hover{
    font-weight: 700;
    color: #ff5000;
}
.screen-content-wrap .screen-content-r .content-notice .notice-hd ul li.list:hover{
    border-bottom: 2px solid #f40;
}
.screen-content-wrap .screen-content-r .content-notice .notice-bm ul{
    height: 25px;
    line-height: 25px;
    padding: 10px 0;
}
.screen-content-wrap .screen-content-r .content-notice .notice-bm ul li{
    margin-left: 12px;
}
.screen-content-wrap .screen-content-r .content-notice .notice-bm ul li a{
    font-size: 12px;
    color: #3c3c3c;
}
.screen-content-wrap .screen-content-r .content-notice .notice-bm ul li a:hover{
    color: #ff5000;
}
.screen-content-wrap .screen-content-r .content-notice .notice-bm ul li.bm-content a{
    color: #ff5000;
}
.screen-content-wrap .screen-content-r .content-notice .notice-bm ul li.bm-content a span{
    margin-left: 12px;
}

.screen-content-wrap .screen-content-r .conve{
    width: 100%;
    height: 232px;
    background-color: #fff;
}
.screen-content-wrap .screen-content-r .conve ul li{
    float: left;
    width: 72.5px;
    height: 77px;
    border-top: 1px solid #f4f4f4;
    border-left: 1px solid #f4f4f4;
    box-sizing:border-box;
}
.screen-content-wrap .screen-content-r .conve ul li.pic-left{
    border-left: 1px solid #fff;
}
.screen-content-wrap .screen-content-r .conve ul li a{
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 12px;
    color: #333333;
}
.screen-content-wrap .screen-content-r .conve ul li a:hover{
    color: red;
}
.screen-content-wrap .screen-content-r .conve ul li a p{
    height: 24px;
    line-height: 24px;
}
.screen-content-wrap .screen-content-r .conve ul li a span{
    display: inline-block;
    margin-top: 11px;
    width: 24px;
    height: 24px;
    border: 1px solid red;
    background:url(../img/pics.png) no-repeat;
}
.screen-content-wrap .screen-content-r .conve ul li a span.pictures1{
    background-position:0 0px; 
}
.screen-content-wrap .screen-content-r .conve ul li a span.pictures2{
    background-position:0 -88px; 
}
.screen-content-wrap .screen-content-r .conve ul li a span.pictures3{
    background-position:0 -44px; 
}
.screen-content-wrap .screen-content-r .conve ul li a span.pictures4{
    background-position:0 -132px; 
}
.screen-content-wrap .screen-content-r .conve ul li a span.pictures5{
    background-position:0 -176px; 
}
.screen-content-wrap .screen-content-r .conve ul li a span.pictures6{
    background-position:0 -220px; 
}
.screen-content-wrap .screen-content-r .conve ul li a span.pictures7{
    background-position:0 -264px; 
}
.screen-content-wrap .screen-content-r .conve ul li a span.pictures8{
    background-position:0 -308px; 
}
.screen-content-wrap .screen-content-r .conve ul li a span.pictures9{
    background-position:0 -352px; 
}
.screen-content-wrap .screen-content-r .conve ul li a span.pictures10{
    background-position:0 -396px; 
}
.screen-content-wrap .screen-content-r .conve ul li a span.pictures11{
    background-position:0 -440px; 
}
.screen-content-wrap .screen-content-r .conve ul li a span.pictures12{
    background-position:0 -484px; 
}
.screen-content-wrap .screen-content-r .apps{
    width: 100%;
    height: 110px;
    border-top: 1px solid #f4f4f4;
    background-color: #fff;
}
.screen-content-wrap .screen-content-r .apps .apps-more{
    padding-left: 14px;
    height: 30px;
    line-height: 30px;
    /* border: 1px solid red; */
    position: relative;
}
.screen-content-wrap .screen-content-r .apps .apps-more h3{
    font-size: 14px;
    color: #3c3c3c;
    font-weight: 700;
}
.screen-content-wrap .screen-content-r .apps .apps-more a{
    position: absolute;
    top: 0;
    right: 6px;
    width: 40px;
    height: 30px;
    font-size: 12px;
    font-weight: 400;
    color: #3c3c3c;
}
.screen-content-wrap .screen-content-r .apps .apps-more a:hover{
    color: #ff5000;
}
.screen-content-wrap .screen-content-r .apps .apps-more a span{
    position: absolute;
    top: 11px;
    right: 8px;
    width: 4px;
    height: 7px;
    background: url(../img/yjt.png) no-repeat;
    /* border: 1px solid black; */
}
.screen-content-wrap .screen-content-r .apps .apps-pictures{
    padding-left: 23px; 
}
.screen-content-wrap .screen-content-r .apps .apps-pictures ul li{
    float: left;
    margin: 0 21px 8px 0;
}
.screen-content-wrap .screen-content-r .apps .apps-pictures ul li a{
    width: 32px;
    height: 32px;
}
.screen-content-wrap .screen-content-r .apps .apps-pictures ul li a img{
    width: 32px;
    height: 32px;
}